@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@600&family=Source+Sans+Pro:wght@600&display=swap');

.modalStyle {
    margin: 100px auto;
    padding: 100px;
    width: 70%;
    height: 400px;
    background-color: #bfdcae;
    outline-color: #206a5d;
    border-color: #206a5d;
    display: flex;
    flex-direction: column;
}
.fontClassCursive {
    font-family: 'Dancing Script', cursive;
}
.fontClassSans {
    font-family: 'Source Sans Pro', sans-serif;
}

.fontClassOpenSans {
    font-family: 'Open Sans', sans-serif;
}

.fontClassPrice {
    color: #206a5d;
    font-size: 20px !important;

}
@media (max-width: 767px) {
    .modalStyle {
        margin: 60px auto;

        padding: 25px;
        width: 250px;
        height: 400px;

        background-color: #bfdcae;
        outline-color: #206a5d;
        border-color: #206a5d;
    }
}
