@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.fontBitter {
    font-family: "Roboto Slab";
    color: white;
}

.MuiListItemIcon-root {
    min-width: 10px !important;
}